flows.json
[{"id":"738c08d.58813f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4dcf8fb0.38b58","type":"ui_form","z":"738c08d.58813f8","name":"","label":"","group":"c5142f35.7b43d","order":1,"width":0,"height":0,"options":[{"label":"Enter query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":120,"wires":[["cdb0daee.74b238"]]},{"id":"cdb0daee.74b238","type":"function","z":"738c08d.58813f8","name":"","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["70395f0b.7776e","989711db.c6535"]]},{"id":"70395f0b.7776e","type":"watson-conversation-v1","z":"738c08d.58813f8","name":"","workspaceid":"598cf10e-b40b-4081-9120-32101f929114","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a2b7744b-a0c2-447a-8c68-3e0d4e25e67e","timeout":"","optout-learning":false,"x":480,"y":180,"wires":[["55836ccc.3963a4","e02c9dea.570d6"]]},{"id":"55836ccc.3963a4","type":"debug","z":"738c08d.58813f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":80,"wires":[]},{"id":"e02c9dea.570d6","type":"function","z":"738c08d.58813f8","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["43572cb.312a2d4"]]},{"id":"43572cb.312a2d4","type":"ui_text","z":"738c08d.58813f8","group":"b4509f10.60649","order":1,"width":"11","height":"11","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":600,"y":360,"wires":[]},{"id":"989711db.c6535","type":"ui_text","z":"738c08d.58813f8","group":"c5142f35.7b43d","order":2,"width":0,"height":0,"name":"","label":"wait for a sec until it loads","format":"","layout":"row-spread","x":340,"y":320,"wires":[]},{"id":"c5142f35.7b43d","type":"ui_group","z":"","name":"Ask","tab":"ea930e15.0c2b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4509f10.60649","type":"ui_group","z":"","name":"Answer","tab":"ea930e15.0c2b2","order":2,"disp":true,"width":"11","collapse":false},{"id":"ea930e15.0c2b2","type":"ui_tab","z":"","name":"ChatBot","icon":"dashboard","disabled":false,"hidden":false}]